{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Registro</h3>
    <div class="box">

        <!-- alert -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}. Intente <a href="{{ url_for('auth.login') }}">iniciar sesión.</a>.
            </div>
        {% endif %}
        {% endwith %}

        {% from '_macros.html' import render_field %}
        <form method="POST" action="/signup">
            {{ form.csrf_token }}
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
            {{ render_field(form.email) }}
            {{ render_field(form.name) }}
            {{ render_field(form.password) }}
        
            <button class="button is-block is-info is-large is-fullwidth">Registrar</button>
        </form>
    </div>
</div>
{% endblock %}