{% extends 'layout.html' %}

{% block content %}
<div class="cols-xs-6">
    
    {% from '_macros.html' import render_field %}
    <form action="" method="post" novalidate>
        {{ form.csrf_token }}
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div class="row control-group">
            <div class="form-group">
                {{ render_field(form.matricula, class='form-control') }}
            </div>
            
        </div>
        {{ render_field(form.nombre) }}
        {{ render_field(form.apaterno) }}
        {{ render_field(form.amaterno) }}
        {{ render_field(form.email) }}
        <input type="submit" id="al" name="al" value="Registrar">
    </form>
    
</div>

{% if datos %}
<div class="col-md-4">
    <h1>Matricula: {{ datos[0] }}</h1>
    <h1>Nombre: {{ datos[1] }}</h1>
    <h1></h1>
</div>
{% endif %}


{% endblock %}