{% extends 'layout.html' %}

{% block content %}
<div class="container">

    {% if cantidad %}
    <form action="/cajas" method="POST">
    
        <div class="row control-group">
            <div class="form-group">
                {% for n in range(cantidad) %}
                    <label for="number{{ n +1}}">Numero {{ n +1 }}: </label>
                    <input type="number" id="number{{ n +1 }}" name="number{{ n +1 }}">
                {% endfor %}
            </div>
        </div>
        <input type="hidden" id="cantidad" name="cantidad" value="{{cantidad}}">
        <input type="submit" id="submit" name="submit" value="Enviar">

    </form>
    {% else %}
    <form action="/cajasDinamicas" method="POST">
        
        <div class="row control-group">
            <div class="form-group">
                <label for="cantidad">Cantidad: </label>
                <input type="number" id="cantidad" name="cantidad">
            </div>
            
        </div>
        <input type="submit" id="submit" name="submit" value="Enviar">
    </form>
    {% endif %}
    
    
</div>

{% endblock %}