{% extends 'layout.html' %}

{% block content %}

{% from '_macros.html' import render_input   %}

<form action="" method="post" class="form-horizontal" name="form1" >

    {{ render_input("txtUsuario", "Username") }}
    {{ render_input("txtApaterno", "Apaterno") }}
    {{ render_input("txtEdad", "Edad") }}
    {{ render_input("txtPassword", "Password", type="password") }}

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">
                <i class="icon-book icon-white"></i>
                Guardar ALumno
            </button>
        </div>
    </div>

</form>
    
{% endblock content %}