{% extends 'layout.html' %}

{% block content %}
<div class="container">
    
    {% from '_macros.html' import render_field %}
    <form action="" method="post" novalidate>
        {{ form.csrf_token }}
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div class="row control-group">
            <div class="form-group">
                {{ render_field(form.spanish, class='form-control') }}
                {{ render_field(form.english) }}
            </div>
            
        </div>
        <input class="btn btn-primary" type="submit" id="save" name="save" value="Save">
    </form>
    

    <form action="" method="POST" novalidate>
        {{ translationForm.csrf_token }}
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div class="row control-group">
            <div class="form-group">
                {{ render_field(translationForm.languages, class='form-control') }}
                {{ render_field(translationForm.word) }}
            </div>
            {% if translation %} 
                <h5>La traduccion de la palabra escrita es: </h5>
                <span>{{ translation }}</span>
            {% endif %}
            
        </div>
    <input class="btn btn-primary" type="submit" id="translate" name="translate" value="Translate">
</form>

</div>

{% endblock %}